<p id="notice"><%= notice %></p>

<h1>Sangues</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sangues.each do |sangue| %>
      <tr>
        <td><%= sangue.tipo %></td>
        <td><%= sangue.quantidade %></td>
        <td><%= link_to 'Show', sangue %></td>
        <td><%= link_to 'Edit', edit_sangue_path(sangue) %></td>
        <td><%= link_to 'Destroy', sangue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sangue', new_sangue_path %>
