<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @sangue.tipo %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @sangue.quantidade %>
</p>

<%= link_to 'Edit', edit_sangue_path(@sangue) %> |
<%= link_to 'Back', sangues_path %>
