
<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="faq.css">
</head>
<body  id="bodyfaq">
 <h1 id = "faq" ><strong><em>FAQ</em></strong></h1>
 <h2 id  = "faqtitulo"><strong><em></em>Quem pode doar?</strong></h2>
 <p id = "sub"> Qualquer pessoa com idade entre 18 e 67 anos que pese mais de 50 quilos. Jovens de 16 ou 17 anos também estão aptos, desde que tenham o consentimento dos pais ou dos responsáveis.</p>
 <h2 id = "faqtitulo"><strong><em></em>Quanto tempo demora?</strong></h2>
 <p id = "sub">A coleta do sangue é bem rápida: leva de 8 a 12 minutos. Antes, o doador faz uma triagem e passa algumas informações de saúde para os funcionários do local.</p>
 <h2 id  = "faqtitulo"><strong><em></em>Quanto sangue é retirado?</strong></h2>
 <p id = "sub">São 450 mililitros. Esse volume pode salvar a vida de até quatro pessoas.</p>
 <h2 id  = "faqtitulo"><strong><em></em>O procedimento oferece algum perigo?</strong></h2>
 <p  id = "sub">Não. A doação é totalmente segura e não apresenta nenhum risco. Os materiais utilizados, como a agulha e os cateteres, são descartáveis.</p>
 <h2 id  = "faqtitulo"><strong><em></em>Mas meu corpo não vai sentir falta desse sangue?</strong></h2>
 <p  id = "sub">Não. Nós possuímos cerca de 5 litros do líquido vermelho circulando pelos vasos. A retirada não prejudica em nada: o organismo repõe e alcança os níveis normais em até 72 horas.</p>
 <h2 id  = "faqtitulo"><strong><em></em>Onde eu posso doar?</strong></h2>
 <p  id = "sub">Nos principais hospitais e hemocentros próximos da sua casa. Para mais informações, acesse o site do Ministério da Saúde ou das secretarias de saúde estaduais e municipais.
 </p>
 <h2 id  = "faqtitulo"><strong><em></em>Existem algumas doenças que impedem a doação de sangue?</strong></h2>
 <p  id = "sub">Sim. Doenças infecciosas, como a gripe, e inflamatórias, como aquelas que atacam o intestino, exigem que a doação seja postergada para outra data. Em caso de dúvida, converse com o profissional de saúde do hemocentro para saber se tudo está ok.
 </p>
 <h2 id  = "faqtitulo"><strong><em></em>E o que eu preciso levar no dia da doação?</strong></h2>
 <p id = "sub">Apenas um documento original com foto.</p>
 <h2 id  = "faqtitulo"><strong><em></em>Eu fiz uma cirurgia recentemente. Posso doar sangue?</strong></h2>
 <p  id = "sub">Você deve esperar 72 horas para doar sangue após uma extração dentária. Operações simples, como apendicite e retirada de varizes, pedem 3 meses. Procedimentos mais complexos, como a remoção da tireoide ou de um rim, meio ano. Caso você tenha passado por uma transfusão de sangue ou fez uma tatuagem, é importante aguardar por um ano.</p>
 <h2 id  = "faqtitulo"><strong><em></em>E quanto tempo eu tenho que esperar entre uma doação e outra? 
 </strong></h2 >
 <p  id = "sub">Os homens podem visitar o banco de sangue a cada 60 dias. Já as mulheres devem aguardar três meses.
 </p>
 <h2 id  = "faqtitulo"><strong><em></em>E depois de doar sangue? Devo seguir alguma recomendação médica?</strong></h2>
 <p  id = "sub" >Sim. Evite esforços físicos, beba bastante água, não fume por duas horas e evite ingerir álcool pelo resto do dia. Também é importante não praticar esportes radicais, como paraquedismo ou mergulho, ou dirigir veículos de grande porte.</p>
 <h2 id  = "faqtitulo"><strong><em></em>A taxa de doações no Brasil é baixa?</strong></h2>
 <p  id = "sub">De acordo com os dados mais recentes do Ministério da Saúde, os brasileiros produzem 3,6 milhões de bolsas de sangue todos os anos. Isso significa que 1,8% da população é doadora. Nós estamos dentro dos parâmetros da Organização Mundial da Saúde: eles pedem que 1 a 3% do país tenha o costume de deixar a sua contribuição nos hemocentros. Mas os especialistas garantem que esse número precisa subir. Que tal ser um doador de sangue?</p>
 <h2 id  = "faqtitulo"><strong><em></em>Doar sangue engrossa ou afina o sangue?</strong></h2>
 <p  id = "sub">Não engrossa nem afina o sangue, é apenas um mito.</p>
 <h2 id  = "faqtitulo"><strong><em></em>Fiz uma tatuagem há um ano. Posso doar?</strong></h2>
 <p  id = "sub">Sim. Quem fez tatuagem há mais de um ano pode doar sangue.</p>
 <h2 id  = "faqtitulo"><strong><em></em> O que é feito com o sangue que doamos?</strong></h2>
 <p id = "sub">Após a coleta, a bolsa coletada é fracionada em componentes sangüíneos (concentrado de hemácias, de plaquetas e plasma). Esses componentes são liberados para uso somente após o resultado dos exames. As unidades que apresentam reatividade sorológica são descartadas. Uma única unidade doada pode beneficiar três pacientes.
 </p>
 <h2 id  = "faqtitulo"><strong><em></em>Doar sangue dói?</strong></h2>
 <p  id = "sub">Não.</p>
 <h2 id  = "faqtitulo"><strong><em></em>O que acontece se uma pessoa que não sabe se está anêmica quiser doar sangue?</strong></h2>
 <p id = "sub">O candidato à doação é atendido por um profissional do Serviço de Hemoterapia, que realiza um teste rápido para verificar se o doador está ou não anêmico.</p>
 <h2 id = "faqtitulo"><strong><em></em>O uso de medicamento pode impedir alguém de doar?</strong></h2>
 <p  id = "sub">O uso de medicamento deve ser analisado caso a caso. Portanto, antes de doar consulte o Serviço de Hemoterapia.</p>

</body>
</html>