#faq{

text-shadow: 2px 2px 2px #6D6C6C;
text-align: left;

}


#faqtitulo{


text-align: left;
border-bottom: 3px solid black;


}

#sub {

line-height: 25px; /* tamanho da altura de cada linha */
font-size: 20px;


}

