<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<% if user_signed_in? %> 

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/welcome"><i class="fa fa-home" aria-hidden="true"></i></a>
  <dev class="navbar-brand"><strong><em><%= link_to "Meu cadastro", doadors_path %></em></strong></dev>
  <div class="navbar-brand" ><strong><em><%= link_to "Sair" , destroy_user_session_path, method: :delete %></em></strong></div>
  <a class="navbar-brand" href="/faq"><strong><em>FAQ</em></strong></a>
  
</nav>

<%else%>

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/welcome"><i class="fa fa-home" aria-hidden="true"></i></a>
  <a class="navbar-brand" href="/users/sign_up"><strong><em>Cadastro</em></strong></a>
  <a class="navbar-brand" href="/users/sign_in"><strong><em>Login</em></strong></a>
  <a class="navbar-brand" href="/faq"><strong><em>FAQ</em></strong></a>
  
</nav>
<%end%>

    <%= yield %>
  </body>
</html>
