<!DOCTYPE html>
<html>
<head>
  <title>Cadastro</title>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
    <link rel="stylesheets" href="assets/stylesheets/Cadastro.css">
</head>
<body>
<h1>Sign up</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :first_name %><br /></h3>
    <div  class = "cadastrocentro"><%= f.text_field :first_name, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :last_name %><br /></h3>
    <div  class = "cadastrocentro"><%= f.text_field :last_name, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :idade %><br /></h3>
    <div  class = "cadastrocentro"><%= f.number_field :idade, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :telefone %><br /></h3>
    <div  class = "cadastrocentro"><%= f.text_field :telefone, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :endereco %><br /></h3>
    <div  class = "cadastrocentro"><%= f.text_field :endereco, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :cpf %><br /></h3>
    <div  class = "cadastrocentro"><%= f.text_field :cpf, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :tipo_sanguineo %><br /></h3>
    <div  class = "cadastrocentro"><%= f.text_field :tipo_sanguineo, autofocus: true %></div>
  </div>

  <div class="field" >
    <h3  class = "cadastrocentro"><%= f.label :email %><br /></h3>
    <div  class = "cadastrocentro"><%= f.email_field :email, autofocus: true %></div>
  </div>

  <div class="field">
    <h3  class = "cadastrocentro"><%= f.label :password %></h3>
    <% if @minimum_password_length %>
    <p  class = "cadastrocentro"><small><em>(<%= @minimum_password_length %> characters minimum)</em></small></p>
    <% end %><br />
    <div  class = "cadastrocentro"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>

  <div class="field">
    <h4  class = "cadastrocentro"><%= f.label :password_confirmation %><br /></h4>
    <div  class = "cadastrocentro"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>

  <div class="actions">
    <div  class = "cadastrocentro"><%= f.submit "Sign up" %></div>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</body>
</html>
